/* Thêm các quy tắc CSS của bạn ở đây */

  
  .header {
   border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .header .inner-logo img {
   max-height: 50px;
   max-width: 100%;
  }

  .header .inner-menu > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  
  .header .inner-menu > ul > li {
   margin-left: 20px;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .container.my-3 {
  max-width: 1200px;
  margin: 0 auto;
}

.box-head {
 color: green;
}

.product-item {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.product-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.product-item .inner-image img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
}

.product-item .inner-featured {
  position: absolute;
  top: 0;
  right: 0;
  background: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
}

.product-item .inner-content {
  padding: 15px;
}

.product-item .inner-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-item .inner-price {
  display: flex;
  align-items: baseline;
}

.product-item .inner-price-new {
  font-size: 20px;
  font-weight: bold;
  color: #e44d26; /* Màu cam hoặc màu bạn chọn */
  margin-right: 10px;
}

.product-item .inner-price-old {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
}

.product-item .inner-discount {
  font-size: 18px;
  font-weight: bold;
  color: #e44d26; /* Màu cam hoặc màu bạn chọn */
}

/* sub menu */
.sub-menu {
  position: relative;
  z-index: 999;
}

.sub-menu ul {
 position: absolute;
 right: 0;
 top: 100%;
 list-style: none;
 padding: 0;
 margin: 0;
 background-color: #eae9e9;
 min-width: 180px;
 display: none;

}

.sub-menu ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;

}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}
/* end sub menu */
/* product-detail */

.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
} 

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;

}

.product-detail .inner-percent {
  margin-bottom: 10px;
}
.product-detail .inner-percent span {
  color: #fff;
  background-color: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background-color: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}


/* end product-detail */

/* show alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 999;
}
[show-alert].alert-hidden {
animation-name: alert-hidden;
animation-duration: 0.5s;
animation-fill-mode: both;
}
@keyframes alert-hidden {
  form {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  background-color: #ffffffc4;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
}
/* end show alert */


/* chat */

.chat {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  border: solid 1px;
  margin: 0;
  padding: 0;
}

.chat .inner-body {
  max-height: 500px;
  overflow-y: auto;
}

.chat .inner-incoming,
.inner-outgoing {
  margin: 10px;
  padding: 8px;
  border-radius: 15px;
}

.chat .inner-incoming {
  margin-right: 60%;
}

.chat .inner-incoming .inner-content {
  background-color: #F0F0EF;
  padding: 8px;
  border-radius: 15px;
  color: #666;
  font-size: 18px;
}


.chat .inner-outgoing {
  margin-left: 60%;
}


.chat .inner-outgoing .inner-content {
  color: #fff;
  font-size: 18px;
  background-color: #FE5DA3;
  padding: 8px;
  border-radius: 15px;

}


.inner-name {
  font-weight: bold;
  color: #333;
}



.chat .inner-foot {
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat .inner-foot .inner-form {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat .inner-foot .inner-form input {
  flex-grow: 1;
  padding: 8px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
  height: 45px;
  font-size: 18px;
}

.chat .inner-foot .inner-form button {
  background-color: #FE5DA3;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.chat .inner-foot .inner-form button:hover {
  background-color: #b34c79;
}


.chat .inner-body .inner-images img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-color: #efefef;
  padding: 10px;
  margin: 0px 5px 5px 0px;
  border-radius: 5px;
 }
 
 .chat .inner-body .inner-outgoing .inner-images {
   margin-left: auto;
   text-align: right;
 }
 
 .chat .inner-body .inner-outgoing .inner-images img {
   margin: 0 0 5px 5px;
 }


 .chat .inner-preview-images {
  position: relative;
 }

 .chat .inner-preview-images .label-container {
  display: none;
 }

 .chat .inner-preview-images .input-container {
  display: none;
 }

 .chat .inner-preview-images .image-preview {
 height: auto;
 padding: 0;
 border-radius: 0;
 }

 .chat .inner-preview-images .image-preview-item {
 width: 90px;
 background-size: contain;
 }




/* end chat */

/*emoji-picker */
.tooltip:not(.shown) {
  visibility: hidden;
}
.tooltip.shown {
  visibility: visible;
  opacity: 1;
}
/* end emoji-picker */

/*box-typing*/

.box-typing{
  position: relative;
}

.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}

.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background-color: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px;
}

.box-typing .inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%{
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/* end box-typing*/

/* box-user */

.box-user {
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.box-user .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-right: 10px;
}
.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-info {
  flex: 1;
}

.box-user .inner-info .inner-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
  display: none;
}

.box-user.add [btn-add-friend] {
  display: none;
}
.box-user.add [btn-cancel-friend] {
  display: inline-block;
}

/* End box-user */