mixin filter-status(filterStatus)
  div.btn-group.btn-group-toggle(data-toggle='buttons')
          each item in filterStatus
            label(class=`btn btn-outline-success ${item.class}`)
              input( button-status=item.status, type='radio', name='options', id=item.name, autocomplete='off', checked = item.check)
              | #{item.name}
          
  