extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug
block main 
  +alert-success(3000)
  .container.my-5
      .row.justify-content-center 
        .col-8
          h1(class="text-center") đăng kí tài khoản
          form(
            action="/user/register"
            method="POST"
          )
            div(class="form-group")
              label(for="fullName") Họ tên 
              input(type="text" id="fullName" name="fullName" class="form-control" required)

            div(class="form-group")
              label(for="email") Email
              input(type="email" id="email" name="email" class="form-control" required)

            div(class="form-group")
              label(for="password") Mật khẩu
              input(type="password" id="password" name="password" class="form-control" required)
            
            div(class="form-group")
              button(
                type="submit"
                class="btn btn-primary btn-block"
              ) Đăng kí